:root {
    --body: #F0F0F0;
    --header-footer-bg: #3F5A96;
    --header-footer: #F5EFEF;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--body);
    font-size: 14px;
    font-family: Arial, sans-serif;
    line-height: 1.42857143;
}

header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--header-footer-bg);
    color: var(--header-footer);
    text-align: center;
}

header img.icon-vulndrake {
    vertical-align: middle;
}

header h1 {
    display: inline;
    margin-left: 10px;
    vertical-align: middle;
}

#scanner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

footer {
    width: 100%;
    margin-top: auto;
    padding: 10px 0;
    background-color: var(--header-footer-bg);
    color: var(--header-footer);
    text-align: center;
}
